<h3 mat-dialog-title>
    create new scheduler event
</h3>
<mat-dialog-content>

    <form [formGroup]="form" class="flex flex-col items-stretch justify-start p-4">

        <div class="flex flex-row items-start justify-start gap-4">

            <mat-form-field appearance="outline" class="w-1/2">
                <mat-label>title</mat-label>
                <input matInput placeholder="title" formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2">
                <mat-label>room</mat-label>
                <mat-select formControlName="resourceId">
                    <ng-container *ngFor="let item of data.roomList">
                        <mat-option [value]="item.id">{{item.title}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row items-start justify-start gap-4">

            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDate" formControlName="startDate">
                <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDate" formControlName="endDate">
                <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

        </div>

        <div class="flex flex-row items-start justify-start gap-4">

            <mat-form-field appearance="outline" class="w-[calc(50%-0.5rem)]">
                <mat-label>start time</mat-label>
                <input matInput placeholder="start time" formControlName="startTime">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[calc(50%-0.5rem)]">
                <mat-label>end time</mat-label>
                <input matInput placeholder="end time" formControlName="endTime">
            </mat-form-field>
            
        </div>

        <div class="flex flex-col items-start justify-start gap-1">
            <button type="button" color="primary" mat-button (click)="color.click()">Color?</button>
            <input type="color" style="visibility: hidden;width: 0;height: 0;" #color formControlName="bgColor">
            <p class="flex flex-row items-center justify-start gap-2">selected color: <span *ngIf="colorValue != null" style="width: 15px;height: 15px;" [style.backgroundColor]="colorValue"></span> 
                {{colorValue == null ? "unknown" : colorValue}} 
            </p>
        </div>

        <div class="flex flex-row items-start justify-start gap-4">
            <mat-checkbox color="accent" formControlName="allDay">All Day Event?</mat-checkbox>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">
        Close
    </button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
        Submit
    </button>
</mat-dialog-actions>