<div class="flex flex-col items-start justify-start gap-2 bg-slate-100 rounded-md shadow-md overflow-hidden px-4 pt-4 my-4">
    <h3>Resource Scheduler Options (run time changes)</h3>

    <form [formGroup]="form"  class="flex flex-row flex-wrap items-start justify-start gap-4">

        <mat-form-field appearance="outline">
            <mat-label>Weekends</mat-label>
            <mat-select formControlName="WeekEnd" multiple>
                <mat-option [value]="0">First day of week</mat-option>
                <mat-option [value]="1">Second day of week</mat-option>
                <mat-option [value]="2">Third day of week</mat-option>
                <mat-option [value]="3">Forth day of week</mat-option>
                <mat-option [value]="4">Fifth day of week</mat-option>
                <mat-option [value]="5">Sixth day of week</mat-option>
                <mat-option [value]="6">Seventh day of week</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Views</mat-label>
            <mat-select formControlName="Views" multiple>
                <mat-option value="month">Month</mat-option>
                <mat-option value="week">Week</mat-option>
                <mat-option value="day">Day</mat-option>
            </mat-select>
        </mat-form-field>
    
        <ng-container *ngFor="let item of HolidaysForm.controls; let i = index" formArrayName="Holidays">
            <mat-form-field appearance="outline">
                <mat-label>Holiday</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="i">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </ng-container>
    
                      
        <button mat-icon-button color="accent" matTooltip="add new holiday" (click)="addNewHoliday()">
            <mat-icon>add</mat-icon>
        </button>

    </form>

</div>
<adc-resource-scheduler
[Weekends]="weekEnds" [Holidays]="holidays"  
(DateChange)="onDateChange($event)" 
(Next)="onNext($event)" 
(Previous)="onPrevius($event)" 
(ViewChange)="onViewChange($event)"
(TableEvent)="onDateSelect($event)"
(EventClick)="onEventClick($event)"
[DefaultViews]="Views"
[CustomViews]="[customView]"

></adc-resource-scheduler>