<div class="p-4">
    <div class="bg-slate-100 rounded-md shadow-md overflow-hidden py-2 px-4 my-4">
        <form [formGroup]="form"  class="flex flex-col items-start justify-start gap-2">
            <h3>Calendar Options (submit required)</h3>
            <div class="flex flex-row flex-wrap items-start justify-start gap-4">

                <mat-form-field appearance="outline">
                    <mat-label>Calendar Type</mat-label>
                    <mat-select formControlName="CalendarType">
                        <mat-option [value]="1">Jalali</mat-option>
                        <mat-option [value]="2">Gregorian</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Direction</mat-label>
                    <mat-select formControlName="Direction">
                        <mat-option value="rtl">RTL</mat-option>
                        <mat-option value="ltr">LTR</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Initial View</mat-label>
                    <mat-select formControlName="InitialView">
                        <mat-option value="month">Month</mat-option>
                        <mat-option value="week">Week</mat-option>
                        <mat-option value="day">Day</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Localization</mat-label>
                    <mat-select formControlName="Language">
                        <mat-option value="fa">Persian</mat-option>
                        <mat-option value="en">English</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-row flex-wrap items-start justify-start gap-4">
                <mat-checkbox formControlName="ConsiderTime">Consider Events Times ?</mat-checkbox>
            </div>

            <div class="flex flex-row flex-wrap items-start justify-start gap-4">
                <button mat-raised-button color="primary" type="button" (click)="onSubmit()">submit changes</button>
            </div>
        </form>
    </div>

    <ng-container *ngIf="loading == false">
        <app-scheduler></app-scheduler>
    </ng-container>

</div>