
<div class="p-4">

    
    <div class="border-2 border-solid border-blue-700 rounded-2xl p-4 my-4 bg-blue-600 text-white font-extrabold text-sm">
        Press 'shift' key on keyboard to change zoom mode in the view!! (only works if container has active scrollbar)
    </div>

    <div class="bg-slate-100 rounded-2xl shadow-md overflow-hidden p-4 my-4">
        <form [formGroup]="form"  class="flex flex-col items-start justify-start gap-2">
            <h3>Calendar Options (submit required)</h3>
            <div class="flex flex-row flex-wrap items-start justify-start gap-4">

                <mat-form-field appearance="outline">
                    <mat-label>Calendar Type</mat-label>
                    <mat-select formControlName="CalendarType">
                        <mat-option [value]="1">Jalali</mat-option>
                        <mat-option [value]="2">Gregorian</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Direction</mat-label>
                    <mat-select formControlName="Direction">
                        <mat-option value="rtl">RTL</mat-option>
                        <mat-option value="ltr">LTR</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Initial View</mat-label>
                    <mat-select formControlName="InitialView">
                        <mat-option value="month">Month</mat-option>
                        <mat-option value="week">Week</mat-option>
                        <mat-option value="day">Day</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Localization</mat-label>
                    <mat-select formControlName="Language">
                        <mat-option value="fa">Persian</mat-option>
                        <mat-option value="en">English</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Event Overlap Tolerance</mat-label>
                    <input matInput formControlName="EventOverlapTolerance" placeholder="Event Overlap Tolerance">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Start Of</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="StartOf">
                    <mat-hint>the initial date range will contain this date.</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="flex flex-row flex-wrap items-start justify-start gap-4">
                <button mat-raised-button color="primary" type="button" (click)="onSubmit()">submit changes</button>
            </div>
        </form>
    </div>

    <mat-tab-group #tabGroup>
        <mat-tab label="scheduler">
            <ng-container *ngIf="loading == false">
                <app-scheduler></app-scheduler>
            </ng-container>
        </mat-tab>
        <mat-tab label="resource scheduler">
            <ng-container *ngIf="loading == false">
                <app-resource-scheduler></app-resource-scheduler>
            </ng-container>
        </mat-tab>
    </mat-tab-group>



</div>